dist: xenial
sudo: yes
language: python
python:
  - "3.7"
install:
  - pip install pipenv
  - pipenv install --dev
script:
  - pipenv run coverage run --source=kube_downscaler -m py.test
after_success:
  - coveralls
